<!DOCTYPE html>
<html>
<head>
  <title>KenAll</title>
  <%= stylesheet_link_tag    "ken_all/application", :media => "all" %>
  <%= javascript_include_tag "ken_all/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
